DirectoryIndex home.html index.html index.htm index.php

Options +FollowSymLinks
RewriteEngine on
RewriteRule ^categoria/(.*)$ categoria.php?slug=$1 [L]
RewriteRule ^producto/(.*)/(.*)$ producto.php?slugc=$1&slugp=$2 [L]

#URL LIMPIA
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#Document Error
ErrorDocument 404 /error-404
ErrorDocument 500 /error-500

#RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{HTTPS} off 
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}